%ol
  %li.text.input{:id => "content_type_li_validator_#{@content_type.id}" }
    %label.label{:style => ("width:100px" if params[:action] == "index")} Validation JSON
    .ace
      %div{:id => "content_type_validator_#{@content_type.id}" }= @content_type.validator
    :javascript
      $(document).ready(function() {
      var validator = ace.edit("content_type_validator_#{@content_type.id}");
      validator.getSession().setMode("ace/mode/javascript");
      validator.setReadOnly(true);
      });
  %li.text.input{:id => "content_type_li_js_#{@content_type.id}" }
    %label.label{:style => ("width:100px" if params[:action] == "index")}  Javascript
    .ace
      %div{:id => "content_type_js_#{@content_type.id}" }= @content_type.js
    :javascript
      $(document).ready(function() {
      var js = ace.edit("content_type_js_#{@content_type.id}");
      js.getSession().setMode("ace/mode/javascript");
      js.setReadOnly(true);
      });
