= semantic_form_for [:dashboard, :admin, @content_type] do |f|
  = f.inputs do
    = f.input :name
  = f.inputs title: "Configuration" do
    = f.input :inheritance, :label => "Parent Content Type"
    = f.input :default_template
  = f.inputs title: "Interactors" do
    = f.input :validator, :label => "Validation JSON"
    :javascript
      var vallidator = ace.edit("content_type_validator");
      vallidator.getSession().setMode("ace/mode/javascript");
    = f.input :js, :label => "Javascript"
    :javascript
      var js = ace.edit("content_type_js");
      js.getSession().setMode("ace/mode/javascript");
  = f.actions do
    = f.submit :class => "btn btn-danger", :style => "margin-right:5px"
    - if params[:action] == 'edit'
      %a.btn{:href => dashboard_admin_content_type_path} Back
