%script{type:"text/javascript"}
  CodeMirror.defineMIME("text/javascript", "javascript");
  CodeMirror.defineMIME("text/ecmascript", "javascript");
  CodeMirror.defineMIME("application/javascript", "javascript");
  CodeMirror.defineMIME("application/ecmascript", "javascript");
  CodeMirror.defineMIME("application/json", {name: "javascript", json: true});
  CodeMirror.defineMIME("text/typescript", { name: "javascript", typescript: true });
  CodeMirror.defineMIME("application/typescript", { name: "javascript", typescript: true });


= semantic_form_for [:dashboard, :admin, @content_type] do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name
  = f.inputs title: "Configuration" do
    = f.input :sync_type, collection: {"Non Syncable" => ContentType::NON_SYNCABLE, "Short Answer (Free form response)" => ContentType::SHORT_ANSWER, "Checkbox (Choose one or more)" => ContentType::CHECK_BOX, "Dropdown (Choose one)" => ContentType::DROPDOWN, "Radio Button (Choose one)" => ContentType::RADIO_BUTTON, "Facebook (Authentication)" => ContentType::FACEBOOK_AUTH, "Contact Details" => ContentType::CONTACT, "Multi Answer" => ContentType::MULTI_ANSWER}, as: :select
    = f.input :inheritance, :label => "Parent Content Type"
    = f.input :default_template
    :javascript
      var editor = CodeMirror.fromTextArea(document.getElementById("content_type_default_template"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/html",
        theme: "neat",
        textWrapping: true
      });
    = f.input :is_published, :label => "Published"
  = f.inputs title: "Interactors" do
    = f.input :validator, :label => "Validation JSON"
    :javascript
      var editor = CodeMirror.fromTextArea(document.getElementById("content_type_validator"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "application/json",
        theme: "neat",
        textWrapping: true
      });
    = f.input :js, :label => "Javascript"
    :javascript
      var editor = CodeMirror.fromTextArea(document.getElementById("content_type_js"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/javascript",
        theme: "neat",
        textWrapping: true
      });
    = f.input :theming_data, :label => "Theming Data"
    :javascript
      var editor = CodeMirror.fromTextArea(document.getElementById("content_type_theming_data"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "application/json",
        theme: "neat",
        textWrapping: true
      });
  = f.actions do
    = f.submit :class => "btn btn-danger", :style => "margin-right:5px"
    - if params[:action] == 'edit'
      %a.btn{:href => dashboard_admin_content_type_path} Back
