.alert.alert-error.alert-block
  %strong Content Types heavily affect +Creator operation!
  %p It is recommended that you consult the operations guidelines for this system before making any changes
.page-header
  %h1 Content Types
  .pull-right
    %a.btn{:href => new_dashboard_admin_content_type_path} Create Content Type
  %h4.muted Directory
- if @content_types.empty?
  %div.muted{:style => 'text-align:center'}
    You haven't created any content types yet.
    %p{:style => 'margin-top:15px;'}
      %a.btn{:href => new_dashboard_admin_content_type_path}
        %i.icon-wrench{:style => 'opacity:0.5'}
        Create Content Type
- else
  = table_for(@content_types) do |t|
    = t.data do
      = t.cell(:id, :heading => "ID") {|p| link_to p.id, dashboard_admin_content_type_path(p)}
      = t.cell :name
      = t.cell(:inheritance) {|p| link_to p.inheritance.name, dashboard_admin_content_type_path(p.inheritance) unless p.inheritance.nil? }
      = t.cell(:default_template) {|p| link_to "Show Template", p.default_template.url, :class => "btn btn-mini", :target => "_blank" if p.default_template.exists?}
      = t.cell(:validator) {|p| "<span class=\"label label-success\">Active</span>".html_safe unless p.validator.empty? }
      = t.cell(:javascript) {|p| "<span class=\"label label-success\">Active</span>".html_safe unless p.js.empty? }
      = t.cell(:show, :heading => "Actions") {|p| "<div class=\"btn-group\"><a href=\"#content_#{p.id}\" role=\"button\" class=\"btn btn-primary btn-mini\" data-toggle=\"modal\">View Configuration</a><a href=\"#{dashboard_admin_content_type_path(p)}\" class=\"btn btn-mini\">Show</a><a href=\"#{edit_dashboard_admin_content_type_path(p)}\" class=\"btn btn-mini\">Edit</a></div>".html_safe }
  - @content_types.each do |content_type|
    .modal.hide.fade{:id => "content_" + content_type.id.to_s}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3 Content Type
        %h4.muted= "#{content_type.name} Configuration"
      .modal-body
        - @content_type = content_type
        .formtastic.content_type
          %fieldset.inputs{:style => "padding:0; margin:0;"}
            = render "code"
      .modal-footer
        .pull-right
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
