- content_for :masthead do
  .pull-right.operations
    %a.btn.btn-primary{href: new_dashboard_campaign_url}
      %i.icon-bolt &nbsp;
      New Campaign
  %h2 Campaigns
  %p Campaign Library
- if @campaigns.empty?
  %div.muted{:style => 'text-align:center; margin-top:30px;'}
    You haven't created any campaigns yet.
    %p{:style => 'margin-top:15px;'}
      %a.btn.btn-primary{:href => new_dashboard_campaign_url}
        %i.icon-bolt &nbsp;
        New Campaign
- else
  = table_for @campaigns do |t|
    = t.data actions: :all, action_prefix: "dashboard" do
      = t.cell :name
      = t.cell(:url) { |p| link_to p.cached_domain, "//#{p.cached_domain}:#{request.port}", target: '_blank' }
      = t.cell(:status) {"Development"}
      = t.cell :total
