- content_for :masthead do
  %h2 Campaign Statistics
  %p= @campaign.name
.row-fluid
  .span3{style: "border:1px solid #ccc; text-align:center; padding:50px 10px;"}
    %h2= @campaign.campaign_code
    %h4.muted Unique Code
  .span3{style: "border:1px solid #ccc; text-align:center; padding:50px 10px;"}
    %h2= @campaign.total
    %h4.muted Submissions
  .span3{style: "border:1px solid #ccc; text-align:center; padding:50px 10px;"}
    %h2= @campaign.start_date
    %h4.muted Start Date
  .span3{style: "border:1px solid #ccc; text-align:center; padding:50px 10px;"}
    %h2= @campaign.finish_date
    %h4.muted Finish Date

= link_to 'Edit', edit_dashboard_campaign_path(@campaign)
\|
= link_to 'Back', dashboard_campaigns_path
