- content_for :masthead do
  %h2 Dashboard
  %p= "You are currently working on #{pluralize @surveys.length, "campaign"}."
.row
  .span4
    %h3= "Welcome back, #{current_member.name}."
    %p
      All your campaigns are currently in development mode.
      %br
        %a{:href => "/pricing"}> Check out Creatr pricing
        \.
    %table.table.stat-table
      %tbody
        %tr
          %td.value 789
          %td.full Surveys Completed
        %tr
          %td.value 634
          %td.full Surveys Today
        %tr
          %td.value= current_member.campaigns.length
          %td.full= "Active #{"Campaign".pluralize(current_member.campaigns.length)}"
        %tr
          %td.value= current_member.themes.length
          %td.full= "Personalized #{"Theme".pluralize(current_member.themes.length)}"
