
- content_for :scripts do
  = javascript_include_tag 'survey/ember-facebook'
  = javascript_include_tag 'survey/survey'

- content_for :script_includes do
  :javascript
    var survey_contents = #{@campaign.contents.find(:all, :order => "position").to_json};
    var content_types = #{@content_types}

-content_for :title, @campaign.tidy_name
- content_for :style do
  = @campaign.theme.css

- @templates.each do |template|
  %script{:'data-template-name' => template.name , :type=>"text/x-handlebars"}
    != template.content
