.jumbotron
.container
  .page-header
    %h1
      New to +Creator?
      %small Sign up
  = semantic_form_for @member, :url => '/signup_fb', :class => 'form-horizontal' do |f|
    = f.inputs do
      .control-group
        = f.input :name, :input_html => { :placeholder => 'Full name', :value => @name}
      .control-group
        = f.input :email, :input_html => { :placeholder => 'Email', :value => @email}
      .control-group
        = f.input :usage, :label => "How do you plan on using <strong>+Creator</strong>? ".html_safe, :as => :text, :input_html => {:class => 'span5', :rows => 8}
    = f.actions do
      = f.submit "Sign Up", :class => 'btn btn-primary'
      %a.btn{:href => "/features"} Cancel
