= semantic_form_for [:dashboard, @theme] do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    = f.input :main_image, :as => :attachment, :required => true, :hint => 'Resolution 200x140. Maximum size of 100KB. JPG, GIF, PNG.', :image => proc { |o| o.featured_image.url(:thumb) }
  = f.actions
