- content_for :scripts do
  = javascript_include_tag 'theme_roller.js'
.page-left.icons.no-builder
  %a.phone.size.link{"data-size" => "phone", :href => "#"}
  %a.tablet.size.link{"data-size" => "tablet", :href => "#"}
  %a.laptop.size.selected.link{"data-size" => "laptop", :href => "#"}
  %a.desktop.size.link{"data-size" => "desktop", :href => "#"}
.page-right.icons.no-builder
  %a.settings.link{href:"#settings", role:"button", "data-toggle" => "modal", "data-backdrop"=>"static", "data-keyboard"=> false}
    %i.icon-cogs
  %a.upload.link{:href => "#"}
    %i.icon-picture
  %a.play.link{:href => "#"}
    %i.icon-refresh
  #image-manager
    .content-box
      = s3_uploader_form post: dashboard_theme_url + '.json', as: "theme[images_attributes][0][url]", id: "myS3Uploader", max_file_size: 200.kilobytes, key: "themes/#{@theme.id}/images/${filename}" do
        = file_field_tag :file, multiple: true
      %script#template-upload{:type => "text/x-tmpl"}
        .upload
          {%=o.name%}
          .progress.progress-striped.active
            .bar{:style => "width: 0%"}
      .gallery
        - @theme.images.each do |image|
          %a{href:image.url, target:"_blank"}
            %img{style:"background-image:url(#{image.url});"}
#page.laptop.no-builder
  .frame-cover
  .frame-loading
    %div
      = image_tag('frame_loading.gif')
  .title
    %h3
      %i.icon-beaker
      %span#theme_name= @theme.title
  #iframe-container
    %iframe#demo{ width:"100%", height:"100%"}
#theme-code.noheight
  #show-css
    CSS/HTML
    %i.icon-chevron-up
  .resize ...
  .content-box
    .css
      .pull-right
        %select{:id => "css-render"}
          %option{:value => "css"}CSS
          %option{:value => "scss"}SCSS
      %h5
        CSS
        - if UserAgent.parse(request.env['HTTP_USER_AGENT']).platform == 'Macintosh'
          %span.badge Ctrl-Option-1
        - else
          %span.badge Ctrl-Alt-1
      .relative
        #css.editor
    .html
      .pull-right
        %select{:id => "type"}
          %option#app{:value => "Body", "data-default" => "<div>{{outlet}}</div>", "data-editable" => true} Default
          - @content_types.each do |content|
            %option{:value => content.id, "data-default" => content.get_default_template, "data-editable" => false}= content.name
      %h5
        HTML
        - if UserAgent.parse(request.env['HTTP_USER_AGENT']).platform == 'Macintosh'
          %span.badge Ctrl-Option-2
        - else
          %span.badge Ctrl-Alt-2
      .relative
        #html.editor
#settings.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  = render 'settings'
