!!!
%html
  %head
    %title +Creator
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
    = javascript_include_tag "templates/all"
    = yield :scripts
  %body
    -if params[:controller] == 'site'
      =render 'shared/nav_main'
    -else
      =render 'shared/nav_dash'

    = yield
    = render 'shared/footer'
