!!!
%html
  %head
    %title +Creator
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
    = javascript_include_tag "templates/all"
  %body
    -if params[:controller] == 'dashboard'
      =render 'shared/nav_dash'
    -else
      =render 'shared/nav_main'
    = yield
    = render 'footer'
