!!!
%html
  %head
    %title +Creator
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
    = javascript_include_tag "templates/all"
  %body
    .container.navbar-wrapper
      .navbar.navbar-inverse
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "#"} +Creator
            .nav-collapse.collapse
              %ul.nav

                %li{:class => ("active" if params[:action] == "index")}
                  %a{:href => "/ "}
                    %i{:class => "icon-home icon-white"}
                    Home
                %li{:class => ("active" if params[:action] == "features")}
                  %a{:href => "/features"}
                    %i{:class => "icon-star icon-white"}
                    Features
                %li{:class => ("active" if params[:action] == "pricing")}
                  %a{:href => "/pricing"}
                    %i{:class => "icon-shopping-cart icon-white"}
                    Pricing
                %li{:class => ("active" if params[:action] == "testimonials")}
                  %a{:href => "/testimonials"}
                    %i{:class => "icon-user icon-white"}
                    Testimonials
                %li{:class => ("active" if params[:action] == "signup" or params[:action] == "signup_fb")}
                  %a{:href => "/signup"}
                    %i{:class => "icon-map-marker icon-white"}
                    Sign Up
              %form.navbar-form.pull-right
                %form.navbar-form.pull-right
                  %a.btn.btn-info{:href =>  member_omniauth_authorize_path(:facebook)} Sign in with Facebook
    = yield
    = render 'footer'
