!!!
%html
  %head
    %title
      = yield :title
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag    "campaign_frontend/index", :media => "all"
    = csrf_meta_tags
    = yield :script_includes
    = javascript_include_tag "campaign_frontend/index"
    %style
      = yield :style
  %body{class: "#{params[:action]}"}
    #surveyContainer
      = yield
